

<%= @game.players.first.name %> vs <%= @game.players.last.name %> </br>
</br>
<%= @game.current_turn.name %>'s turn

</br>
<%= @game.players.first.name %>: Hitpoints: <%= @game.players.first.hp %> </br>
<%= @game.players.last.name %>: Hitpoints: <%= @game.players.last.hp %>

<form action='/hit'>
<input type="submit" value="Hit">
</form>
